
  <div class=row>
    <div class="col-md-6">
      <h1><%= @event.title %></h1>
      <h3><%= @event.place %></h3>
      <p>
        <%= @event.description %>
      </p>
    </div>

    <div class="col-md-6">
      <% if @event.featured? %>
        <span class="label label-warning">
          Featured Event
        </span>
      <% end %>

      <%= medium_image_tag(@event.image) %>

      <hr>
      <h3 class="date-h3">Dates</h3>
      <ul class="nav">
      <% @event.date_list.each do |date| %>
        <li><%= date %></li>
      <% end %>
      </ul>
    </div>
  </div>

 